:root {
  --black  : #1A1A1D;
  --gray   : #4E4E50;
  --red    : #6F2232;
  --fuschia: #950740;
  --pink   : #C3073F;
  --dark-gray  : rgb(50, 50, 53);
  --black-font-color  : #555557;
  --gray-font-color   : #7a7a7c;
  --red-font-color    : #4e1923;
  --fuschia-font-color: #b2466f;
  --pink-font-color   : #d3446e;
}

/* JUMBOTRON (user for items in lists of projetcs, issues, tasks, etc) */

.jumbotron {
  border-radius: 10px;
  padding: 0.5em;
  margin: 0.3em;
  background-color: var(--fuschia);
}

.jumbotron a {
  font-weight: bold;
  color: var(--fuschia-font-color);
}

.jumbotron a:hover {
  color: var(--red-font-color);
}

.jumbotron:hover {
  background-color: var(--red);
}

.jumbotron p {
  font-weight: bold;
  color: var(--black);
}

.project-description {
  font-weight: 650;
  background-color: var(--dark-gray);
  color: var(--gray-font-color);
}

.inner-container {
  height: 100%;
  background-color: #4E4E50;
}

.inner-container h1 {
  text-transform: uppercase;
  text-shadow: 1px 1px 2px var(--black);
  font-size: 50px;
  font-weight: bolder;
  color: var(--fuschia);
}

.inner-container h2 {
  text-shadow: 1px 1px 2px var(--black);
  font-size: 30px;
  font-weight: bolder;
  color: var(--fuschia);
}

.btn-sq {
  width: 50px !important;
  height: 50px !important;
  padding:10px;
}

.btn-sq-xs {
  width: 30px !important;
  height: 30px !important;
  padding:2px;
}

.my-card {
  padding: 5px;
  margin: 10px;
}

/* NAVBAR */
.main-container {
  background-color: #1A1A1D;
}

.navbar {
  background-color: var(--pink);
  margin-bottom: 1em;
}

.navbar-brand {
  text-transform: uppercase;
  padding: 0.5em;
  font-weight: 900;
  font-size: large;
  color: var(--black);
}

.navbar-brand:hover {
  color: var(--dark-gray);
}

.nav-link {
  font-weight: 900;
  color: var(--black)
}

.nav-link:hover {
  color: var(--dark-gray);
  background-color: var(--fuschia);
}

.nav-item:hover {
  background-color: var(--fuschia);
}

/* For the MODALS */

* { box-sizing: border-box; }
body {
  font: 16px Arial;
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
button[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}


/*  */

.option.active {
  /* box-shadow: 1px 1px 1px rgb(28, 37, 37); */
  outline: 5px solid #0275d8;
}

.option:hover {
  outline: 2px solid #0275d8;
}

.option.active:hover {
  outline: 6px solid #0275d8;
}