<html>

<head>
    <title> Nouvelle tâche </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <%include ./navbar.ejs%>
</head>

<body>
    <form action="/tasks/create" method="POST">
        <div>
            <label for="id">ID</label>
            <input placeholder="ID"  name="id" id="idInput" required>
        </div>
        <div>
            <label for="description">Nom</label>
            <input placeholder="Descrption" name="description" required>
        </div>
        <div>
            <label for="estimatedTime">Temps estimé</label>
            <input placeholder="Temps estimé" name="estimatedTime" required>
        </div>
        <div>
            <label for="dependencies">Dépendances</label>
            <input placeholder="Dépendances" name="dependencies" required>
        </div>
        <div>
            <label for="linkedUserStories">User Stories liées liées</label>
            <input placeholder="User Stories liées" name="linkedUserStories" required>
        </div>
        <div>
            <label for="advancementState">Etat d'avancement</label>
            <input placeholder="Etat d'avancement" name="advancementState" required>
        </div>
        <div>
            <label for="developer">Développeur</label>
            <input placeholder="Développeur" name="assignedDeveloper" required>
        </div>
        <button type="submit" class="btn btn-primary">Sauvegarder</button>
        <a type="button" class="btn btn-secondary" href="/tasks">Annuler</a>
    </form>


</body>

</html>