<html>

<head>
    <meta charset="UTF-8">
    <title> Nouvelle issue </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <%- include('./navbar.ejs', {project: project})%>
    <script>
        function banComma(e) {
          if (e.which == 44) {
            e.preventDefault();
            return false;
          } else {
            return true
          }
        }
      </script>
</head>

<body>
    <form action="/projects/<%= project._id %>/issues/create" method="POST">
        <div class="form-group">
            <label for="issueID">ID</label>
            <input type="text" placeholder="ID" class="form-control" name="issueID" id="idInput" onkeypress="return banComma(event);" required>
        </div>
        <!-- <div class="form-group">
            <label for="name">Nom</label>
            <input type="text" placeholder="Nom" class="form-control" name="name" id="name" required>
        </div> -->
        <div class="form-group">
            <label for="description">Description</label>
            <textarea name="description" class="form-control" id="description" placeholder="Description de l'issue">En tant que ..., Je Peux ..., Afin de ...</textarea>
        </div>
        <div class="form-group">
            <label for="priority">Priorité</label>
            <select name="priority" id="priority" selected="low">
              <option value="Basse"> Basse </option>
              <option value="Moyenne"> Moyenne </option>
              <option value="Haute"> Haute </option>
            </select>
        </div>
        <div class="form-group">
            <label for="difficulty">Difficulté</label>
            <input type="number" placeholder="Difficulté" class="form-control" name="difficulty" id="difficulty" min="1" max="99" required>
        </div>
        <button type="submit" class="btn btn-primary">Sauvegarder</button>
        <a type="button" class="btn btn-secondary" href="/projects/<%= project._id %>/issues">Annuler</a>
    </form>


</body>

</html>