<!DOCTYPE html>
<html lang=fr>
    <head>
        <meta charset="utf-8"/>
    </head>
    <body>
        <div style="background-color: aqua">
            <a href="/">Backlog</a>
            <a href="/task">Tâches</a>
            <button onclick="window.location.replace('/signIn')">Se connecter</button>
            <button onclick="window.location.replace('/signUp')">Créer un compte</button>
            <button onclick="window.location.replace('/signOut')">Déconnexion</button>
        </div>
    </body>
</html>