<!DOCTYPE html>
<html lang=fr>

<head>
  <%- include('./simple_navbar.ejs') %>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Page not found</title>
</head>

<body class="container">
  <h1>Erreur 404 : Cette page n'existe pas.</h1>
</body>

</html>