<!DOCTYPE html>
<html lang=fr>
    <head>
        <meta charset="utf-8"/>
        <%include ./navbar.ejs%>
        <title>Inscription</title>
    </head>
    <body>
        <h1>S'inscrire</h1>
        <form method="post" action="/signUp">
            <div class="form-group">
                <label for="email">Addresse Email</label>
                <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Addresse Email" required>
                <small id="emailHelp" class="form-text text-muted">Nous ne transmettrons votre adresse email à personne d'autre.</small>
            </div>
            <div class="form-group">
                    <label for="username">Nom d'utilisateur (3 à 30 caractères)</label>
                    <input type="text" class="form-control" name="username" placeholder="Nom d'utilisateur (3 à 30 caractères)" minlength="3" maxlength="30" required>
                </div>
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" class="form-control" name="password" placeholder="Mot de passe" minlength="8" required>
            </div>
                <%=mailError%>
            </div>
            <input type="submit" type="button" class="btn btn-success" name="signup" value = "S'inscrire">
            <input type="button" type="button" class="btn btn-danger" onclick="window.location.replace('/signIn')" value="Annuler" />
        </form>
    </body>
</html>